.banner{
    background: url(../img/hqfc/banner1.jpg) no-repeat center center;
}
.store-main{
    width:1178px;
    margin:20px auto;
    background: #fff;
}
.store-main .tabs li{
    float: left;
    width:392px;
    color: #333;
    text-align: center;
    line-height:60px;
    border-right:2px solid #f7f8fa;
    cursor: pointer;
}
.store-main .tabs li.active{
    color: #fff;
    background: #e89724;
}
/*view*/
.view{
    border-top:2px solid #f7f8fa;
    padding:50px 80px 0;
}
.view > div{
    display: none;
}
.view > div.active{
    display: block;
}
.view li{
    float: left;
    text-align: center;
    margin:0 89px 44px 0;
}
.view li img{
    width:280px;
    margin-bottom:13px;
}
.view li a{
    color: #333;
}